* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Space Mono", monospace;
  src: url("../../font/Space_Mono/SpaceMono-Bold.ttf");
}
@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url("../../font/Lexend_Deca/static/LexendDeca-Bold.ttf");
}
@font-face {
  font-family: "Space Mono", monospace;
  src: url("../../font/Space_Mono/SpaceMono-Bold.ttf");
}
@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url("../../font/Lexend_Deca/static/LexendDeca-Bold.ttf");
}
body {
  overflow-x: hidden;
}

.container {
  max-width: 1106px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  position: relative;
}

nav {
  background-color: #ffffff;
  width: 100%;
  padding: 24px 0 20px 0;
  position: fixed;
  z-index: 3;
}
@media (max-width: 576px) {
  nav {
    padding: 20px 0 20px 0;
  }
}

.navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.navbar__menu {
  align-items: center;
  display: flex;
  column-gap: 58px;
}
.navbar__menu__title {
  display: flex;
  column-gap: 32px;
}
@media (max-width: 576px) {
  .navbar__menu__title {
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 53px;
    background-color: #495567;
    height: 100vh;
    width: 256px;
    padding: 64px 32px;
    row-gap: 24px;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }
}
.navbar__menu__href {
  text-decoration: none;
  color: #939caa;
  font-family: "Space Mono", monospace;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  transition: 0.2s ease-in;
}
.navbar__menu__href:hover {
  text-decoration: none;
  color: #fcb72b;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
}
.navbar .btn {
  color: #ffffff;
  font-family: "Space Mono", monospace;
  background-color: #fcb72b;
  border: 3px solid #fcb72b;
  padding: 14px 39px;
  transition: 0.5s ease-in;
  margin-right: 0px;
}
@media (max-width: 576px) {
  .navbar .btn {
    display: none;
  }
}
.navbar .btn:hover {
  color: #fcb72b;
  font-family: "Space Mono", monospace;
  background-color: #ffffff;
  border: 3px solid #fcb72b;
  padding: 14px 39px;
}
.navbar__add {
  display: none;
}
@media (max-width: 576px) {
  .navbar__add {
    display: block;
  }
}
@media (max-width: 576px) {
  .navbar__add__btn {
    background: none;
    border: none;
  }
}
.navbar__remove {
  display: none;
}
@media (max-width: 576px) {
  .navbar__remove {
    display: block;
  }
}
@media (max-width: 576px) {
  .navbar__remove__btn {
    background: none;
    border: none;
  }
}

.hero {
  height: 100vh;
  background-image: url(../../img/desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 5px;
}
@media (max-width: 770px) {
  .hero {
    background-image: url(../../img/for-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 576px) {
  .hero {
    background-image: url(../../img/mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: 60px;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .hero {
    background-position-y: 0;
  }
}
.hero__content {
  padding-top: 170px;
}
@media (max-width: 770px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
}
@media (max-width: 576px) {
  .hero__content {
    padding-top: 39%;
  }
}
@media (max-width: 576px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
}
.hero__content__stick {
  display: flex;
  align-items: center;
  column-gap: 57px;
}
.hero__content__button {
  margin-left: 90px;
  margin-top: 40px;
}
.hero__content__title {
  max-width: 500px;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: #ffffff;
}
@media (max-width: 770px) {
  .hero__content__title {
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .hero__content__title {
    max-width: 311px;
    width: 100%;
    font-size: 40px;
    font-style: normal;
    line-height: 40px;
    /* 100% */
    letter-spacing: -1.786px;
  }
}
.hero__content__look {
  display: none;
}
@media (max-width: 770px) {
  .hero__content__look {
    display: block;
    max-width: 300px;
    width: 100%;
    margin-left: -30px;
    margin-top: 15px;
  }
}
.hero__content__text {
  max-width: 405px;
  width: 100%;
  margin-left: 90px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 40px;
}
@media (max-width: 770px) {
  .hero__content__text {
    text-align: center;
    margin: 0 auto;
    max-width: 573px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .hero__content__text {
    max-width: 311px;
    width: 100%;
    font-size: 15px;
    font-style: normal;
  }
}
.hero__content__img {
  transform: translateY(75px);
}
@media (max-width: 770px) {
  .hero__content__img {
    display: none;
  }
}

.btn {
  color: #ffffff;
  font-family: "Space Mono", monospace;
  background-color: #fcb72b;
  border: 3px solid #fcb72b;
  padding: 14px 39px;
  transition: 0.5s ease-in;
}
@media (max-width: 770px) {
  .btn {
    margin: 0 auto;
    display: flex;
  }
}
.btn:hover {
  color: #fcb72b;
  font-family: "Space Mono", monospace;
  background-color: #ffffff;
  border: 3px solid #fcb72b;
  padding: 14px 39px;
}

.show {
  transform: translateX(0);
}

@media (max-width: 770px) {
  .center {
    display: flex;
  }
}
.center__img {
  position: relative;
  transform: translateY(100px);
  max-width: 974px;
  width: 100%;
}
@media (max-width: 770px) {
  .center__img {
    display: none;
  }
}
.center__img2 {
  display: none;
}
@media (max-width: 770px) {
  .center__img2 {
    display: block;
    position: relative;
    margin-left: 85px;
    height: 513px;
  }
}
@media (max-width: 576px) {
  .center__img2 {
    display: none;
  }
}
.center__menu1 {
  display: flex;
  column-gap: 30px;
  margin-top: 140px;
}
@media (max-width: 770px) {
  .center__menu1 {
    display: block;
  }
}
@media (max-width: 576px) {
  .center__menu1 {
    display: block;
  }
}
.center__menu {
  margin-top: 48px;
}
@media (max-width: 770px) {
  .center__menu {
    display: flex;
  }
}
@media (max-width: 576px) {
  .center__menu {
    display: flex;
    justify-content: center;
  }
}
.center__menu__img {
  position: absolute;
  margin-top: -145px;
  display: flex;
}
@media (max-width: 770px) {
  .center__menu__img {
    margin-left: -86px;
    margin-top: -35px;
  }
}
@media (max-width: 576px) {
  .center__menu__img {
    margin: -54px auto;
    display: flex;
    justify-content: center;
    max-width: 56px;
    width: 100%;
    display: block;
  }
}
.center__menu__h3 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #495567;
  padding-top: 24px;
}
@media (max-width: 770px) {
  .center__menu__h3 {
    padding-top: 0;
    margin-left: 65px;
  }
}
@media (max-width: 576px) {
  .center__menu__h3 {
    max-width: 311px;
    width: 100%;
    padding-top: 24px;
    text-align: center;
    margin: 0 auto;
  }
}
.center__menu__text {
  margin-top: 27px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  max-width: 336px;
  width: 100%;
}
@media (max-width: 770px) {
  .center__menu__text {
    margin-left: 65px;
    max-width: 398px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .center__menu__text {
    text-align: center;
    max-width: 311px;
    width: 100%;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 50px;
  }
}
.center__menu__text2 {
  max-width: 320px;
  width: 100%;
}
@media (max-width: 770px) {
  .center__menu__text2 {
    max-width: 376px;
    width: 100%;
  }
}
.center__menu__text3 {
  max-width: 328px;
  width: 100%;
}
@media (max-width: 770px) {
  .center__menu__text3 {
    max-width: 398px;
    width: 100%;
  }
}

.main {
  margin-top: 266px;
}
@media (max-width: 770px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 143px;
  }
}
@media (max-width: 576px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 143px;
  }
}
.main__style {
  display: flex;
  column-gap: 163px;
  align-items: center;
  margin-bottom: 200px;
}
@media (max-width: 770px) {
  .main__style {
    display: block;
  }
}
.main__style1 {
  flex-direction: row-reverse;
}
@media (max-width: 770px) {
  .main__style1 {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .main__style1 {
    margin: 0 auto;
  }
}
@media (max-width: 770px) {
  .main__style2 {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .main__style2 {
    margin: 0 auto;
  }
}
.main__style3 {
  flex-direction: row-reverse;
}
@media (max-width: 770px) {
  .main__style3 {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .main__style3 {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .main__size__img {
    max-width: 311px;
    width: 100%;
    margin: 0 auto;
    display: list-item;
  }
}
.main__font__h2 {
  max-width: 445px;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  padding-bottom: 24px;
}
@media (max-width: 770px) {
  .main__font__h2 {
    text-align: center;
    margin: 0 auto;
    margin-top: 63px;
  }
}
.main__font__text {
  max-width: 445px;
  width: 100%;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  padding-bottom: 24px;
}
@media (max-width: 770px) {
  .main__font__text {
    text-align: center;
    margin: 0 auto;
  }
}

footer {
  background-image: url(../../img/footer-backround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 1440px;
  width: 100%;
}
@media (max-width: 770px) {
  footer {
    background-image: url(../../img/footer-backround-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-top: 104px;
  }
}
@media (max-width: 576px) {
  footer {
    background-image: url(../../img/footer-backround-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-top: 104px;
  }
}

.menu {
  justify-content: space-between;
  display: flex;
  padding-top: 93px;
}
@media (max-width: 770px) {
  .menu {
    display: block;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 73px;
  }
}

.footer {
  display: flex;
  align-items: center;
  column-gap: 18px;
}
@media (max-width: 770px) {
  .footer {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .footer {
    margin-bottom: 88px;
  }
}
.footer__href {
  text-decoration: none;
}
.footer__text__h2 {
  max-width: 415px;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
}
@media (max-width: 770px) {
  .footer__text__h2 {
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .footer__text__h2 {
    max-width: 311px;
    width: 100%;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
}
.footer__icon__button {
  display: flex;
  background-color: #e5ecf4;
  padding: 10px;
  border: 1px solid #e5ecf4;
  column-gap: 10px;
  border-radius: 3px;
}
.footer__icon__h5 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  color: #495567;
  text-align: start;
}
.footer__icon__p {
  text-align: start;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #495567;
}

.bottom {
  background-color: #333a44;
  width: 100%;
  height: 100px;
  margin-top: 110px;
}
@media (max-width: 770px) {
  .bottom {
    margin-top: 55px;
  }
}
@media (max-width: 576px) {
  .bottom {
    margin-top: -34px;
    height: 438px;
  }
}
.bottom__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  column-gap: 10px;
}
@media (max-width: 576px) {
  .bottom__flex {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 95px;
  }
}
.bottom__menu {
  display: flex;
  align-items: center;
  column-gap: 58px;
}
@media (max-width: 576px) {
  .bottom__menu {
    display: block;
    margin: 0 auto;
    padding-top: 35px;
    display: flex;
    row-gap: 47px;
    flex-direction: column;
  }
}
.bottom__menu__title {
  display: flex;
  column-gap: 32px;
}
@media (max-width: 576px) {
  .bottom__menu__title {
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}
.bottom__menu__href {
  color: #939caa;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  transition: 0.2s ease-in;
}
.bottom__menu__href:hover {
  text-decoration: none;
  color: #fcb72b;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
}
.bottom__icon {
  column-gap: 24px;
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .bottom__icon {
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */