@font-face {
    font-family: "Space Mono", monospace;
    src: url("../../font/Space_Mono/SpaceMono-Bold.ttf");
}

@font-face {
    font-family: "Lexend Deca", sans-serif;
    src: url("../../font/Lexend_Deca/static/LexendDeca-Bold.ttf");
}