@import "./fonts";
$header_font: "Space Mono", monospace;
$main_font: "Lexend Deca", sans-serif;
$button_color: #fcb72b;
$big_text_color: #495567;
$small_text_color: #939caa;
$grey_color: #e5ecf4;
$white_color: #ffffff;
$footer_color: #333a44;
